# ignore all .pyc files
# and pycache folders
**.pyc
**__pycache__/

# ignore notebook version files
**.sys.v#*

# ignore all root files
**.root

# ignore all temporary job files
**cjob_**
data/temp_*
datadials/temp_*

# ignore all numpy files
**.npy

# ignore all keras model files
**.keras

# ingore all plot and output folders
**plots_**
**output_**

# ignore dials cache
datadials/.cache/

# ignore oms api secret
tools/omsapi/clientid.py

# ignore automask output
automasking/data
automasking/data
